body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 5;
  margin: 5;
  margin-top: 150px;
  background: #ceaea0;
}
/* Home */
.coffee {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.home h1 {
  text-align: center;
  color: #50322c;
}

.coffee-item {
  display: flex;
  flex-direction: column;
}

.coffee-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.coffee-item h2 {
  margin: 0.5rem 0;
  text-align: center;
  color: #50322c;
}

.coffee-item p {
  margin: 0;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.5;
}

/* Navigation */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  padding: 30px;
  background: #50322c;
  color: white;
  display: flex;
  align-items: center;
  border-bottom: 5px solid #715a4e;
  z-index: 2;
}
#nav a {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  margin-right: 20px;
  color: white;
  opacity: 0.7;
  transition: 0.2 ease color;
}
#nav a.router-link-active,
#nav a:hover {
  opacity: 1;
  color: rgb(189, 130, 91);
}
#logo {
  font-weight: bold;
  font-size: 1.5rem;
  opacity: 1 !important;
}

a {
  text-decoration: none;
  font-weight: bold;
}
